@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0F223E] text-white;
}

a {
  @apply text-white hover:opacity-80 underline;
}

.cta {
  @apply inline-block text-xl text-white py-2 px-6 bg-[#0052ED] items-center;
}

.cta.cta-secondary {
  @apply flex space-x-2 underline text-xl bg-transparent py-2 px-6 justify-center text-white;
}

.fancy-image {
  @apply border-2;
  border-image-slice: 1;
  border-image-source: linear-gradient(89.87deg, #256ad1 7.57%, #d1258c 95.58%);
}

.title {
  @apply uppercase font-black text-white py-1 px-2 leading-none;
}

.flowing-title {
  box-shadow: -8px 0 0 #256ad1;
  background: linear-gradient(89.87deg, #256ad1 7.57%, #d1258c 95.58%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  white-space: initial;
  position: relative;
  left: 8px;
  display: inline;
  padding-left: 0;
  line-height: 1.6;
}

.play {
  @apply absolute top-1/2 left-1/2 z-10 -translate-x-2/4 -translate-y-2/4;
  width: 68px;
  height: 48px;

  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
}

header {
  backdrop-filter: blur(6px);
  border-image-slice: 1;
  border-image-source: linear-gradient(89.87deg, #256ad1 7.57%, #d1258c 95.58%);
  border-bottom: 2px solid;
}

.row-component {
  @apply px-6 md:px-8 mb-12;
}

.item-date {
  @apply relative;
  aspect-ratio: 6/7;
}

.item-date .date-wrap {
  @apply relative z-10;
}

.item-date:before {
  @apply absolute w-full h-full -bottom-1 -right-1  z-0;
  content: "";
}
